networks:
  proxybackend:
    driver: bridge

services:
  consul:
    image: hashicorp/consul
    container_name: FMS.Consul
    ports:
      - "8500:8500"
    networks:
      - proxybackend

  
  yarp.gateway:
    build:
      context: .
      dockerfile: backend/ApiGateway/YarpGateway.Api/Dockerfile
    container_name: YARP.Gateway
    ports:
      - "5000:8080"
      - "5001:8081"
    networks:
      - proxybackend
    
  users.api:
    build:
        context: .
        dockerfile: backend/UserService/src/UserService.Api/Dockerfile
    container_name: Users.Api
    ports:
      - "5034:8080"
    networks:
      - proxybackend