networks:
  proxybackend:
    driver: bridge

volumes:
  consul-data:
    driver: local

services:
  consul:
    image: hashicorp/consul
    container_name: FMS.Consul
    ports:
      - "8500:8500"
    networks:
      - proxybackend
    volumes:
      - consul-data:/consul/data
    command: >
      agent 
      -server 
      -bootstrap 
      -ui 
      -client=0.0.0.0 
      -hcl='server_rejoin_age_max = "8760h"'
    
   

    
  ocelot.gateway:
    build:
      context: .
      dockerfile: /backend/OcelotGateway/OcelotGateway.Api/Dockerfile
    container_name: OCELOT.Gateway
    ports:
      - "5050:8080"
      - "5051:8081"
    networks:
      - proxybackend
    depends_on:
      - consul
    
  redis:
    image: redis:alpine
    container_name: FMS.Redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
    command: [ "redis-server", "--appendonly", "yes"]
    restart: unless-stopped